.modal.fade#about(style="display:none;")
  .modal-header
    %a.close(data-dismiss="modal") ×
    %h3 關於
  .modal-body
    .row
      .span3
        %h2
          小兜蟲
          %small 自由的噗浪機器人
        :markdown
          繼筆者第一代機器人[賴聖帝君](http://cssula.nba.nctu.edu.tw/index.php/plurkproject/6-uncategorize/30-2011-05-28-11-24-31.html)死後，心血來潮開發了第二代，也就是這隻小兜蟲，命名由來純粹只是因為筆者自號「大兜蟲」。      

          小兜蟲是用 [TJPlurker](http://code.google.com/p/tjplurker) 開發的，且有一個主要特色是可以像 wiki 般讓所有人編輯他的詞庫，除此之外也有一些小工具。
          ### 相關連結
          *   [小兜蟲噗浪頁](http://www.plurk.com/tonyjan)
          *   [小兜蟲指令集](/commands)
          *   [TJPlurker 專案網站](http://code.google.com/p/tjplurker)
      .span2.thumbnail= image_tag "http://avatars.plurk.com/7910597-big4.jpg"
    %hr
    .row
      .span2.thumbnail= image_tag "http://photos-c.ak.fbcdn.net/hphotos-ak-ash4/316140_153693884724732_100002523642079_259452_1647611834_a.jpg"
      .span3
        %h2
          大兜蟲
          %small 最接近男人的神
        :markdown
          一個喜歡把點子實現的專案狂，興趣是鋼琴、程式、追求雙馬尾。
          ### 相關連結
          *   [個人網站](http://tonytonyjan.heroku.com)
          *   [CSsula 創意工坊](http://cssula.nba.nctu.edu.tw)
          *   [交大網路福利社](http://www.nba.nctu.edu.tw)
  .modal-footer
    %a.btn(data-dismiss="modal") Close