.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "小兜蟲", root_url, :class=>"brand"
      %ul.nav
        =nav_li "首頁", root_url
        =nav_li "主題總攬", categories_path
        =nav_li "即時預覽", search_path
        =nav_li "指令集", commands_path
        =nav_li "關於", "#about", "data-toggle"=>"modal"
      %ul.nav.pull-right
        =nav_li "用噗浪登入", "#"
= render "share/about_modal"
