%h2 速查
%dl
  %dt [abc]
  %dd a、b、c 三個字中任一個字
  %dt [^abc]
  %dd 任一個除了 a、b、c 以外的字
  %dt [a-z]
  %dd a 到 z 間任一個字
  %dt [a-zA-Z]
  %dd a 到 z 或 A 到 Z 間任一個字
  %dt ^
  %dd 行首
  %dt $
  %dd 行末
  %dt .
  %dd 一個任何字
  %dt \s
  %dd 一個空白
  %dt \S
  %dd  一個非空白
  %dt \d
  %dd  一個數字
  %dt \D
  %dd  一個非數字
  %dt \w
  %dd  任何文字
  %dt \W
  %dd  任何非文字